{% extends "padre.html" %}

{% load static %}


{% block contenido %}
    <main class="container">
        <h1 class="text-xl-center title"> alumno </h1>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>cursando</th>
                </tr>            
            </thead>
            <tbody>
                {% for n in alumno %}
                <tr>
                    <td>{{n.id}}</td>
                    <td>{{n.nombre}}</td>
                    <td>{{n.cursando}}</td>
                </tr>

                {% endfor %}
                
            </tbody>


        </table>

        <p>volver</p>
        <a class="btn btn-primary" href="{% url 'home' %}">Home</a>



    </main>

      


{% endblock %}